@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,300&subset=latin,cyrillic');

* {
    font-family: 'Ubuntu', sans-serif !important;
    font-size: 16px;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    color: #000;
    .inside {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -2;
        background-image: url('background.jpg');
        background-size: cover;
        background-position: center;
        .shadow {
            position: fixed;
            background: rgba(0, 0, 0, 0.1);
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    .block {
        background: #FFF;
        margin: 10px 0;
        padding: 10px;
    }
    .button {
        margin-right: 5px;
        margin-bottom: 0;
    }
}

#error {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -2;
    background-image: url('404.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

.social {
    width: 26px;
}

#contacts_app {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    padding: 20px;
    .contacts_inside > div {
        height: 100%;
        > div {
            height: 100%;
        }
    }
    .contacts_inside {
        width: 100%;
        height: 100%;
        background: #3c434b;
        .left_side {
            padding: 0;
            height: 100%;
            box-shadow: 1px 0 5px #000;
            .button {
                margin: 10px;
            }
            .contacts {
                .contact {
                    padding: 10px 20px;
                    border-bottom: 1px solid #AAA;
                    .name {
                        color: #FFF;
                        font-size: 14px;
                        margin: 0;
                    }
                    &:hover {
                        cursor: pointer;
                        background: #777;
                    }
                    &.active {
                        background: #0099f1;
                    }
                }
            }
        }
        .right_side {
            padding: 20px;
            color: #FFF;
            .contact_info {
                .header {
                    padding-left: 0;
                    position: relative;
                    height: 90px;
                    //&:before {
                        //position: absolute;
                        //content: '';
                        //top: 0;
                        //left: 0;
                        //width: 90px;
                        //height: 90px;
                        //background: #5b5f68;
                        //border-radius: 50%;
                    //}
                }
                .body {
                    background: #343b43;
                    margin-top: 40px;
                    padding: 20px;
                    p {
                        position: relative;
                        padding-left: 50px;
                        height: 25px;
                        color: #02a3fd;
                        text-shadow: 1px 1px 1px #382310;
                        img {
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 30px;
                        }
                    }
                }
            }
            .contact_welcome {

            }
            .add_contact {
                input {
                    width: 400px;
                }
            }
        }
    }
}