@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,300&subset=latin,cyrillic');

* {
    font-family: 'Ubuntu', sans-serif !important;
    font-size: 16px;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    color: #000;
    .inside {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -2;
        background-image: url('background.jpg');
        background-size: cover;
        background-position: center;
        .shadow {
            position: fixed;
            background: rgba(0, 0, 0, 0.1);
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    .block {
        background: #FFF;
        margin: 10px 0;
        padding: 10px;
    }
    .button {
        margin-right: 5px;
    }
}

#contacts_page {
    height: 100%;
    .left_block {
        border-right: 1px solid #CCC;
        height: 100%;
        float: left;
        width: 25%;
        header {
            p, a {
                margin-bottom: 5px;
            }
        }
        .block {
            padding: 0 10px;
            .head {
                font-weight: 300;
                margin-bottom: 5px;
            }
        }
        .contacts_block {
            .contact {
                margin: 0 -10px 5px;
                padding: 0 10px;
                a {
                    color: #000;
                }
            }
        }
        overflow: hidden;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            width: 6px;
        }
        &::-webkit-scrollbar-track {
            -webkit-border-radius: 6px;
            border-radius: 6px;
        }
        &::-webkit-scrollbar-thumb {
            -webkit-border-radius: 6px;
            border-radius: 6px;
            background: rgba(217,217,217,0.8);
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        }
    }
    .right_block {
        position: relative;
        height: 100%;
        width: 75%;
        margin-left: 25%;
        padding: 10px;
        &:before, &:after {
            content: " ";
            display: table;
        }
        &:after {
            clear: both;
        }
    }
}

#new_contact {
    .input {
        margin-bottom: 10px;
        input {
            width: 300px;
            margin: 0;
        }
    }
}

#error {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -2;
    background-image: url('404.jpg');
    background-position: center;
    background-repeat: no-repeat;
}